.center {
  text-align: center;
}

.center:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.center :global .ant-modal {
  display: inline-block;
  vertical-align: middle;
  top: 0.6rem;
  text-align: left;
}