.loader {
  color: #363636;
  font-family: 'Arial';
  font-size: 14px;
  font-weight: bolder;
  text-align: center;
  line-height: 1;
  position: absolute;
  top: 50%;
  width: 100%;
  right: 0;
  bottom: 0;
}